<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Krungthai Bank - Line Register</title>
<link rel="stylesheet" th:href="@{/css/project.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sweetalert2.js}"></script>
<link rel="stylesheet" th:href="@{/css/sweetalert2.css}">
</head>

<body>
	<div class="container">
		<br>
		<div class="header text-center">เลือกบัญชี</div>
		<div class="text-center">เพื่อรับบริการแจ้งเตือนผ่าน Krungthai Connext</div>
		<div class="text-center">เฉพาะบัญชีออมทรัพย์และกระแสเงินสดเท่านั้น</div>

		<!-- select account -->
		<div class="content">
			<div class="items" id="listAccounts"></div>			
		</div>
			
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<span id="seemore" class="text-krungthai" onclick="seemoreAccounts()">แสดงบัญชีเพิ่มเติม</span>
				<br><br>
				<button type="button" id="acceptButtonEng" onclick="sendSaveChooseAccount()"
					class="btn btn-block btn-primary btn-lg" disabled='disabled'>ยืนยัน</button>
				<br>
			</div>
		</div>
	</div>
</body>
<!-- <script src="scriptTypeThymeleaf.js"></script> -->
<script th:inline="javascript">
        /*<![CDATA[*/  
              /*var accountList = /*[[${ACCOUNT_LIST}]]*/
            // alert(accountLIST);
        /*]]>*/
    </script>
<script type="text/javascript" th:src="@{/js/project.js}"></script>
<script type="text/javascript" th:src="@{/js/chooseAccountNoti.js}"></script>
</html>
