<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Krungthai Bank - Line Register</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/project.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sweetalert2.js}"></script>
<script type="text/javascript">
function isNumberKey(evt) {
	var charCode = (evt.which) ? evt.which : event.keyCode
	if (charCode > 31 && (charCode < 48 || charCode > 57))
		return false;
	return true;
}

function KeyCode(objId)
{
  if (event.keyCode >= 48 && event.keyCode<=57 || event.keyCode>=97 && event.keyCode<=122 || event.keyCode==95) //48-57(ตัวเลข) ,65-90(Eng ตัวพิมพ์ใหญ่ ) ,97-122(Eng ตัวพิมพ์เล็ก) , 95(_)
  {
     return true;
  }
  else
  {
     return false;
  }
}
</script>
<link rel="stylesheet" th:href="@{/css/sweetalert2.css}">
</head>
<body>
	<div class="container">
			<br>
			<div class="header text-center">กรอกข้อมูลเพื่อยืนยันตัวตน</div>
			<br>
			<!-- ไทย -->
			<div id="Thai" class="tabcontent">
				<div class="btn-group btn-group-justified">
					<a onclick="openTab(event, 'Thai')" class="btn btn-primary btn-lg">สำหรับคนไทย</a>
					<a onclick="openTab(event, 'Foreigner')" class="btn btn-default btn-lg">Foreigner</a>
				</div>
				<br>
				<div class="form-group">
					<input type="tel" class="form-control" maxlength="13"
						id="citizenID" onkeyup="chkComplate()"
						onkeypress="return isNumberKey(event)"
						placeholder="เลขบัตรประชาชน" name="citizenID"> 
						<FONT COLOR=RED><span id="errCID"></span></FONT>
				</div>

				<div class="form-group">
					<input type="tel" class="form-control" maxlength="10"
						id="mobilePhoneTH" onkeyup="chkComplate()"
						onkeypress="return isNumberKey(event)"
						placeholder="เบอร์โทรศัพท์มือถือ" name="mobilePhoneTH"> <FONT
						COLOR=RED><span id="errMobile"></span></FONT>
				</div>
			</div>
			<!-- Foreigner -->
			<div id="Foreigner" class="tabcontent">
				<div class="btn-group btn-group-justified">
					<a onclick="openTab(event, 'Thai')" class="btn btn-default btn-lg">สำหรับคนไทย</a>
					<a onclick="openTab(event, 'Foreigner')" class="btn btn-primary btn-lg">Foreigner</a>
				</div>
				<br>
				<div class="form-group">
					<input type="text" class="form-control" maxlength="30"
						id="passport" onkeyup="chkForeigner()"
						placeholder="Passport number" name="passport"> 
						<FONT COLOR=RED><span id="errPassport"></span></FONT>
				</div>
				<div class="form-group">

					<input type="tel" class="form-control" maxlength="10"
						id="mobilePhoneEN" onkeyup="chkForeigner()"
						onkeypress="return isNumberKey(event)" placeholder="Mobile number"
						name="mobilePhoneEN"> 
						<FONT COLOR=RED><span id="errMobileEn"></span></FONT>
				</div>

			</div>

			<button name='submit' id='submitBtn'
				class="enableOnInput btn btn-primary btn-block btn-lg"
				disabled='disabled' onclick="checkRegister()">ถัดไป</button>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/project.js}"></script>
<script type="text/javascript" th:src="@{/js/register.js}"></script>
</html>
