<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Krungthai Bank - Line Register</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/project.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body onload="openTCTab(event, 'TCThai')">
	<div class="container">
		<!-- version thai -->
		<div id="TCThai" class="tabTermAndCondition">
			<br>
			<!-- header -->
			<div class="header text-center">ข้อกำหนดและเงื่อนไข</div>
			<br>
			<!-- tab -->
			<div class="btn-group btn-group-justified">
				<a onclick="openTCTab(event, 'TCThai')" class="btn btn-primary btn-lg">ภาษาไทย</a>
				<a onclick="openTCTab(event, 'TCEnglish')" class="btn btn-default btn-lg">English</a>
			</div>
			<br>
			<!-- content -->
			<div>
				<div id="tandCcontent" style="overflow: auto;height :400px;overflow-y: scroll">
					<span id="textTermConditionTH"></span><br>
				</div>
			</div>
			<!-- footer -->
			<div class="footer">
				<div class="container">
					<input type="checkbox" id="checkAcceptThai" onclick="checkboxFunction('checkAcceptThai','acceptButtonThai')">&nbsp;ข้าพเจ้ายอมรับในข้อกำหนดและเงื่อนไข<br>
					<button type="button" id="acceptButtonThai" onclick="onAccepted()" class="btn btn-block btn-primary btn-lg"
					 disabled='disabled'>ยอมรับ</button>
					<br>
				</div>
			</div>
		</div>


		<div id="TCEnglish" class="tabTermAndCondition">
			<br>
			<!-- header -->
			<div class="header text-center">Terms & Conditions</div>
			<br>
			<!-- tab -->
			<div class="btn-group btn-group-justified">
				<a onclick="openTCTab(event, 'TCThai')" class="btn btn-default btn-lg">ภาษาไทย</a>
				<a onclick="openTCTab(event, 'TCEnglish')" class="btn btn-primary btn-lg">English</a>
			</div>
			<br>
			<!-- content -->
			<div>
				<div id="tandCcontent" style="overflow: auto; height: 400px; overflow-y: scroll">
					<span id="textTermConditionEN"></span><br>
				</div>
			</div>
			<!-- footer -->
			<div class="footer">
				<div class="container">
					<br> <input type="checkbox" id="checkAcceptEng" onclick="checkboxFunction('checkAcceptEng','acceptButtonEng')">
					I accept the terms and conditions <br>
					<br>
					<button type="button" id="acceptButtonEng" onclick="onAccepted()" class="btn btn-block btn-primary btn-lg"
					 disabled='disabled'>Accept</button>
					<br>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/project.js}"></script>
<script type="text/javascript" th:src="@{/js/termAndCondition.js}"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	var textTermConditionTH = /*[[${TERM_AND_CONDITION_DETAIL_THAI_ATTRIBUTE}]]*/ 'default';
	$('#textTermConditionTH').html(textTermConditionTH);
	var textTermConditionEN = /*[[${TERM_AND_CONDITION_DETAIL_ENG_ATTRIBUTE}]]*/ 'default';
	$('#textTermConditionEN').html(textTermConditionEN);
	//console.log(textTermConditionTH);
/*]]>*/
</script>


</html>