<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Krungthai Bank - Line Register</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/project.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sweetalert2.js}"></script>
<link rel="stylesheet" th:href="@{/css/sweetalert2.css}">
</head>
<body>
	<div class="container">
		<br><br><br><br><br><br>
		<div class="text-center">
			ขอบคุณที่สมัครใช้บริการ Krungthai Connext<br>
			หากท่านต้องการใช้บริการแจ้งเตือนเงินเข้า-ออก<br>
			สามารถเปิดบัญชีเงินฝากออมทรัพย์หรือกระแสรายวันได้ที่่ธนาคารกรุงไทยทุกสาขา</h6>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/project.js}"></script>
</html>
