<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Krungthai Bank - Line Register</title>
<link rel="stylesheet" th:href="@{/css/project.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sweetalert2.js}"></script>
<link rel="stylesheet" th:href="@{/css/sweetalert2.css}">
</head>
<body>
	<div class="container">
		<br>
		<h4>
			<center>กรอกรหัส OTP</center>
		</h4>
		<br>
		<div id="Thai" class="tabcontent">
			<input type="tel" class="form-control"
				maxlength="6" id="otpNumber" name="otpNumber" onchange="chkOTPNum()"
				onkeypress="return isNumberKey(event)" onkeyup="isBackspace(event)"
				placeholder="รหัส OTP 6 หลัก" /> <FONT COLOR=RED><label
				id="errOTP"></label></FONT> <input type="hidden"
				th:value="${session.REF_OTP_SESSION}" name="refOtp" id="refOtp" />
			<div class="text-center">
				[[${session.OTP_BEAN.messageVerifyOTP}]]
				<!--รหัสอ้างอิง  xxxx จะหมดอายุภายใน 3 นาที -->
			</div>
			<br>
		</div>
		<button type='button' name='submitVerifyOtp' id='submitVerifyOtp'
			class="btn btn-primary btn-block btn-lg" disabled='disabled'
			onclick="checkOTP()">ยืนยัน</button>
		<br>

		<div class="text-center">
			<a href=""><span class="glyphicon glyphicon-repeat" id="submitRequestOtp"> ขอรหัส OTP ใหม่</span></a>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/project.js}"></script>
<script type="text/javascript" th:src="@{/js/verifyOtp.js}"></script>
</html>