<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Setting</title>

<link rel="stylesheet" th:href="@{/css/project.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sweetalert2.js}"></script>
<link rel="stylesheet" th:href="@{/css/sweetalert2.css}">
</head>

<body>
	
	<!-- Header -->
	<div id="header"> 			
	   <div id="checkBalMessage" class="header">
		   <div class='form-check form-check-inline'>
				<img class='form-check-input img-middle' id='imgIcon' th:src="@{/images/ic-spending@3x.png}" height='40'>
				<label class='form-check-label' for='imgIcon'>
				<span id="title"></span>
				</label>
			</div>
	   </div> 
	</div>
	
	<!-- put code -->
	<div id="subtitle" class="container"></div>
	<div class="container-display-flex" style="display: flex;">
		<div id="amountAccountTxt" class="textSelectAll"></div>
		<div class="toggleSW">
			<label class="switch CBoxselectAll">
				<input class="checkmark SWtoogle" type="checkbox" id="checkbox" onclick="selectAll(this)">
				<span class="slider round"></span>
			</label>
		</div>
	</div>
	<div id="contents" class="container">
		<div id="listAccounts"></div>
	</div>
	<!-- end put code -->
	
	<!-- footer -->
	<div id="footer" class="footer container">
		<div>
			<!-- <div id="seemore" class="text-krungthai" onclick="seemoreAccounts()"></div> -->
			<button type="button" id="acceptButtonEng" onclick="sendSaveChooseAccount()" class="btn btn-block btn-primary btn-lg">
				<span id="acceptButton">ยืนยัน</span>
			</button>
		</div>
	</div>


</body>
<!-- <script src="scriptTypeThymeleaf.js"></script> -->
<script th:inline="javascript">
	/*<![CDATA[*/
	var accountList= /*[[${ACCOUNT_LIST}]]*/
            // alert(accountLIST);
        /*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/project.js}"></script>
<script type="text/javascript" th:src="@{/js/manageAccount.js}"></script>
</html>
