@font-face {
  font-family: krungthaiFast;
  src: url(../font/KrungthaiFast-Regular.ttf);
}

.background {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  overflow: scroll;
  width: 100vw;
  height: 100%;
  background-image: url("../images/bg-white@3x.jpg");
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: krungthaiFast !important;
  font-size: 16px;
  width: 100%;
  height: 100%;
  position: fixed;
}

.btn-default {
  color: #00a6e6 !important;
  background-color: #fff !important;
  border-color: #00a6e6 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #00a6e6 !important;
  border-color: #00a6e6 !important;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.4 !important;
  background-color: #00a6e6 !important;
}

.header {
  font-family: KrungthaiFast;
  font-size: 20px;
  color: #000000;
}

.text-center {
  text-align: center;
}

.text-left {
  float: left;
}

.text-right {
  float: right;
}

.body-header {
  position: fixed;
  left: 0;
  bottom: 100;
  width: 100%;
  text-align: center;
}

.body-content {
  position: fixed;
  left: 0;
  bottom: 100;
  top: 100;
  width: 100%;
  overflow: scroll;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background-color: #00a6e6 !important;
  color: #fff !important;
}

.swal2-popup .swal2-styled.swal2-cancel {
  background-color: #fff !important;
  border: 1px solid !important;
  color: #00a6e6 !important;
}

.swal2-popup .swal2-content {
  font-size: 1.6em !important;
}

.swal2-popup .swal2-title {
  font-size: 2em !important;
}

.text-krungthai {
  color: #00a6e6;
}

.btn:focus {
  outline: none !important;
}

.swal2-popup .swal2-image {
  margin: 0.25em 1.25em 1.25em 1.25em !important;
}

.swal2-container.swal2-shown {
  background-color: rgba(193, 18, 18, 0.11);
}

.none {
  display: none;
}

.hx {
  font-weight: 600;
}

/* ******************** nook ************************/

/* ********************* Few ********************** */
#header,
#footer,
#contents,
#contents2,
#contentsOtp {
  position: absolute;
  right: 0;
  left: 0;
}
#header {
  height: 50px;
  top: 0;
}

#headerOtp {
  height: 70px;
  top: 0;
  text-align: center;
  padding-top: 30px;
}

#footer {
  /* height: 84px; */
  bottom: 2px;
  margin-bottom: 2%;
  background-color: #fcfcfc;
  position: fixed;
}
#contents2 {
  position: fixed;
  top: 135px;
  bottom: 120px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#contentsOtp {
  position: fixed;
  top: 80px;
  bottom: 40px;
  overflow-y: scroll;
}

#contents {
  position: fixed;
  top: 180px;
  bottom: 75px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch !important
}
div.item {
  width: 100%;
  margin-top: 1px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.color-header {
  height: 70px;
  background-image: linear-gradient(98deg, #00a6e6, #008ec4);
}
span#title {
  height: 65px;
  width: 100%;
  color: #ffffff;
  padding-top: 22px;
  margin-left: 10px;
  margin-top: 5rem;
  /* background-image: linear-gradient(98deg, #00a6e6, #008ec4); */
}
#subtitle {
  font-size: 16px;
  color: #868686;
  margin-top: 70px;
}

#amountAccountTxt {
  margin-top: 22px;
  padding-left: 15px;
}
.SWtoogle {
  padding-right: 15px;
}
.toggleSW {
  margin-top: 18px;
  margin-left: auto;
}
#acceptButtonEng{
	background-image: linear-gradient(98deg, #00a6e6, #008ec4);
}
#checkBalMessage{
    height: 55px;
    padding: 13px;
    color: white;
    background-image: linear-gradient(98deg, #00a6e6, #008ec4);
    padding-left: 20px;
}
/* ********************* Few ********************** */

/* ********************* Few Toggle Switch ********************** */
.switch {
  margin-top: 2px;
  position: relative;
  display: inline-block;
  width:  42px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: solid 0.5px rgba(0, 0, 0, 0.1);
}

.slider:before {
  position: absolute;
  content: "";
  height:  20px;
  width: 20px;
  left: 0px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: solid 0.3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0.5px 0 rgba(0, 0, 0, 0.1),
    0 0.5px 0.5px 0 rgba(0, 0, 0, 0.16), 0 1.5px 2px 0 rgba(0, 0, 0, 0.15);
}

input:checked + .slider {
  background-color: #00a6e6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00a6e6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 60%;
}
/* ********************* Few Toggle Switch ********************** */

/* Screen iPhone5 */
@media screen and (device-aspect-ratio: 40/71) {
  #contents {
    position: fixed;
    top: 215px;
    bottom: 75px;
    overflow-y: scroll;
  }
  #subtitle {
    font-size: 16px;
    color: #868686;
    margin-top: 90px;
  }
}
/* Screen S6 S7 */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
  #contents {
    position: fixed;
    top: 200px;
    bottom: 75px;
    overflow-y: scroll;
  }
  #subtitle {
    font-size: 16px;
    color: #868686;
    margin-top: 75px;
  }
}

/* ==================== pete =============================*/
/* checkbox The containerCBox*/
.containerCBox {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-width: 1px 1px 1px 1px;
  border-color: #868686;
  border-style: solid;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.containerCBox:hover input ~ .checkmark {
  border-width: 1px 1px 1px 1px;
  border-color: #868686;
  border-style: solid;
  border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.containerCBox input:checked ~ .checkmark {
  background-color: #00a6e6;
  border-width: 1px 1px 1px 1px;
  border-color: #00a6e6;
  border-style: solid;
  border-radius: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCBox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCBox .checkmark:after {
  left: 7px;
  top: 0.5px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.flex-container {
  margin: 0;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

html.fullscreen,
body.fullscreen {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

header.attop,
footer.atbottom {
  flex: none;
  text-align: center;
  padding: 15px 15px;
}

main.bodyscroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch !important;
  flex: auto;
  padding: 15px 15px;
}

.inputbox {
  width: 100%;
  height: 55px !important;
  padding: 11px 8px !important;
  border: 1px solid #bbbbbb !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
  font-family: krungthaiFast !important;
  font-size: 16px !important;
  color: black !important;
}

/* ==================== pete =============================*/

/* ==================== ken =============================*/
.btnSetting {
  padding-left: 20px;
  text-align: left;
  background-color: none;
  background: none;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 16px;
  font-family: krungthaiFast;
}
.btnSetting:before {
  float: left;
  width: 10em;
  text-align: left;
  pointer-events: none;
}

.hrSetting {
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  overflow: hidden;
}

/* ==================== ken =============================*/
