<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Krungthai Bank - Line Register</title>
	<!-- <link rel="stylesheet" th:href="@{/css/project.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sweetalert2.js}"></script>
<link rel="stylesheet" th:href="@{/css/sweetalert2.css}"> -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="project.css" type="text/css">
	<script src="settingAcc.js"></script>
</head>

<body>
	<div class="background"></div>
	
	<!-- Header -->
	<div id="header"> 			
	   <div id="checkBalMessage" class="header">
		   <div class='form-check form-check-inline'>
				<img class='form-check-input img-middle' id='imgIcon' th:src="@{/images/icon-open.png}" height='30'>
				<label class='form-check-label' for='imgIcon'>
				<span id="title"></span>
				</label>
			</div>
	   </div> 
	</div>
	
	<!-- put code -->
	<div id="subtitle" class="container"></div>
	<div class="container-display-flex" style="display: flex;">
		<div id="amountAccountTxt" class="textSelectAll"></div>
		<div class="toggleSW SWtoogle">
			<label class="switch CBoxselectAll">
				<input class="checkmark SWtoogle" type="checkbox" id="checkbox" onclick="selectAll(this)">
				<span class="slider round"></span>
			</label>
		</div>
	</div>
	<div id="contents" class="container">
		<div id="listAccounts"></div>
	</div>
	<!-- end put code -->
	
	<!-- footer -->
	<div id="footer" class="footer container">
		<div>
			<!-- <div id="seemore" class="text-krungthai" onclick="seemoreAccounts()"></div> -->
			<button type="button" id="acceptButtonEng" onclick="sendSaveChooseAccount()" class="btn btn-block btn-primary btn-lg">
				<span id="acceptButton">ยืนยัน</span>
			</button>
		</div>
	</div>


</body>
<!-- <script src="scriptTypeThymeleaf.js"></script> -->
<!-- <script th:inline="javascript">
	/*<![CDATA[*/
	var accountList= /*[[${ACCOUNT_LIST}]]*/
	// alert(accountLIST);
	/*]]>*/
</script> -->
<!-- <script type="text/javascript" th:src="@{/js/project.js}"></script>
	<script type="text/javascript" th:src="@{/js/chooseAccountNoti.js}"></script> -->
</html>

<!-- id="selectAllTxt" -->
<!-- <img src="ic-account.svg" class="ic_account"> -->
<!-- <div class="text-left" id="amountAccountTxt">บัญชี</div> -->
<!-- <div class="text-right">
	<label class="switch CBoxselectAll" id="selectAllTxt">
		<input class="checkmark" type="checkbox" id="checkbox" onclick="selectAll(this)">
		<span class="slider round"></span>
	</label>
</div> -->