/* ******************** nook ************************/

@font-face {
	font-family: krungthaiFast;
	src: url(../font/KrungthaiFast-Regular.ttf);
}

body {
	background-image: url("../images/bg-white@3x.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: krungthaiFast !important;
	font-size: 16px;
	width: 100%;
	height: 100%;
	position: fixed;
	background-attachment: fixed;
}

.btn{
	width: 100px;
}

.btn-default {
	color: #00a6e6 !important;
	background-color: #fff !important;
	border-color: #00a6e6 !important;
}

.btn-primary {
	color: #fff !important;
	background-image: linear-gradient(-90deg, #008ec4, #00a6e6) !important;
	border-color: #00a6e6 !important;
}

.btn-primary-cancel {
	color: #00a6e6 !important;
	background-color: #fff !important;
	border-color: #00a6e6 !important;
	margin-left: 5px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	opacity: .4 !important;
	background-image: linear-gradient(-90deg, #008ec4, #00a6e6) !important;
}

.header {
	font-family: KrungthaiFast;
	font-size: 20px;
	color: #000000;
}

.text-center {
	text-align: center;
}

.text-left {
	float: left;
}

.text-right {
	float: right;
}

.body-header {
	position: fixed;
	left: 0;
	bottom: 100;
	width: 100%;
	text-align: center;
}

.body-content {
	position: fixed;
	left: 0;
	bottom: 100;
	top: 100;
	width: 100%;
	overflow: scroll;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.swal2-popup .swal2-styled.swal2-confirm {
	background-image: linear-gradient(-90deg, #008ec4, #00a6e6) !important;
	color: #fff !important;
}

.swal2-popup .swal2-styled.swal2-cancel {
	background-color: #fff !important;
	border: 1px solid !important;
	color: #00a6e6 !important;
}

.swal2-popup .swal2-content {
	font-size: 1.6em !important;
}

.swal2-popup .swal2-title {
	font-size: 2em !important;
}

.text-krungthai {
	color: #008ec4;
}

.none {
	display: none;
}

.btn:focus {
  outline: none !important;
}

.swal2-icon.swal2-warning {
    border-color: #0093cb !important;
    color: #008fc6 !important;
}

label {
    font-weight: 100 !important;
}

img {
    vertical-align: top !important;
}

.img-middle {
    vertical-align: middle !important;
}

.container-display-flex {
    padding-right: 15px;
    padding-left: 15px;
}
/* ******************** nook ************************/

/* ******************** Few ********************** */
#header, #footer, #contents, #contents2, #contentsOtp {
	position: absolute;
	right: 0;
	left: 0;
}

#header {
	height: 100px;
	top: 0;
	/* padding-top: 10px; */
}

#headerAcc {
	height: 100px;
	top: 0;
	/* padding-top: 10px; */
}

#headerOtp {
	height: 70px;
	top: 0;
	text-align: center;
	padding-top: 30px;
}

#footer {
	/* height: 84px; */
	bottom: 2px;
	margin-bottom: 2%;
	background-color: #fcfcfc;
}

#contents2 {
	position: fixed;
	top: 135px;
	bottom: 120px;
	overflow-y: scroll;
	background-color: #f5f5f5;
	-webkit-overflow-scrolling: touch;
	padding: 10px 10px;
}

#contentsOtp {
	position: fixed;
	top: 80px;
	/* bottom: 120px; */
	overflow-y: scroll;
	
}

#contents {
  position: fixed;
  top: 200px;
  bottom: 75px;
  overflow-y: scroll;
}
div.item {
  width: 100%;
  margin-top: 1px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
/* div.item.isSelected {
  background-color: #00a6e6;
  transform: translateX(26px);
} */
/* .container-body{
 padding-left: 100px;
 padding-right: 100px
} */
.color-header {
  height: 70px;
  background-image: linear-gradient(98deg, #00a6e6, #008ec4);
}
#title {
  height: 65px;
  width: 100%;
  color: #ffffff;
  padding-top: 22px;
  margin-left: 10px;
  margin-top: 5rem;
  /* background-image: linear-gradient(98deg, #00a6e6, #008ec4); */
}
#subtitle {
  font-size: 16px;
  color: #868686;
  margin-top: 85px;
}

#amountAccountTxt {
  margin-top: 22px;
}
.toggleSW{
  margin-top: 15px;
  margin-left: auto;
}
/* ********************* Few ********************** */

/* ********************* Few Toggle Switch ********************** */
.switch {
  margin-top: 2px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30.5px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: solid 0.5px rgba(0, 0, 0, 0.1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: solid 0.3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0.5px 0 rgba(0, 0, 0, 0.1),
    0 0.5px 0.5px 0 rgba(0, 0, 0, 0.16), 0 1.5px 2px 0 rgba(0, 0, 0, 0.15);
}

input:checked + .slider {
  background-color: #00a6e6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00a6e6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 60%;
}

/* ********************* Few Toggle Switch ********************** */

/* Screen iPhone5 */
@media screen and (device-aspect-ratio: 40/71) {
  #contents {
    position: fixed;
    top: 215px;
    bottom: 75px;
    overflow-y: scroll;
  }
  #subtitle{
    font-size: 16px;
    color: #868686;
    margin-top: 80px;
  }
}

/* ********************* pete ********************* */
/* checkbox The containerCBox*/
label.containerCBox { 
 display: inline-block; 
 position: relative; 
 padding-left: 35px; 
 margin-bottom: 12px; 
 cursor: pointer; 
 font-size: 14px; 
 -webkit-user-select: none; 
 -moz-user-select: none; 
 -ms-user-select: none; 
 user-select: none; 
 margin-left: 3px; 
} 
 
/* Hide the browser's default checkbox */ 
label.containerCBox input { 
 opacity: 0; 
 cursor: pointer; 
 display:none;
} 
 
 
input[type="checkbox"] { 
  margin: 1.5px 0px 0px 1px !important; 
  margin-top: 1px \9; // IE8-9 
  line-height: normal; 
} 
 
/* Create a custom checkbox */ 
.checkmark { 
 position: absolute; 
 top: 0; 
 left: 0; 
 height: 19px; 
 width: 19px; 
 border-width: 1px 1px 1px 1px; 
 border-color: #868686; 
 border-style: solid; 
 border-radius: 2px; 
} 
 
/* On mouse-over, add a grey background color */ 
.containerCBox:hover input ~ .checkmark { 
 border-width: 1px 1px 1px 1px; 
 border-color: #868686; 
 border-style: solid; 
 border-radius: 2px; 
} 
 
/* When the checkbox is checked, add a blue background */ 
.containerCBox input:checked ~ .checkmark { 
 background-color: #00a6e6; 
 border-width: 1px 1px 1px 1px; 
 border-color: #00a6e6; 
 border-style: solid; 
 border-radius: 2px; 
} 
 
/* Create the checkmark/indicator (hidden when not checked) */ 
.checkmark:after { 
 content: ""; 
 position: absolute; 
 display: none; 
} 
 
/* Show the checkmark when checked */ 
.containerCBox input:checked ~ .checkmark:after { 
 display: block; 
} 
 
/* Style the checkmark/indicator */ 
.containerCBox .checkmark:after { 
 left: 6px; 
 top: 0.5px; 
 width: 5px; 
 height: 14px; 
 border: solid white; 
 border-width: 0 1.5px 1.5px 0; 
 -webkit-transform: rotate(45deg); 
 -ms-transform: rotate(45deg); 
 transform: rotate(45deg); 
}
.flex-container {
	margin: 0;
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	line-height: 1.5;
}

html.fullscreen, body.fullscreen {
	margin: 0;
	height: 100%;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
}

header.attop, footer.atbottom {
	flex: none;
	text-align: center;
	padding: 15px 15px;
}

main.bodyscroll {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch !important;
	flex: auto;
	padding: 15px 15px;
}

.inputbox { 
 width: 100%; 
 height: 52px !important; 
 padding-top: 8px !important; 
 border: 1px solid #bbbbbb !important; 
 -webkit-border-radius: 3px !important; 
 border-radius: 3px !important; 
 font-family: krungthaiFast !important; 
 font-size: 16px !important; 
 color: black !important; 
 line-height: normal !important;
}

input {  
  text-transform: uppercase; 
  line-height: normal!important;
} 
::-webkit-input-placeholder { /* WebKit browsers */ 
    text-transform: none; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    text-transform: none; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    text-transform: none; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    text-transform: none;
}

#checkBalMessage { 
    height: 70px; 
    padding: 15px; 
    color: white; 
    background-image: linear-gradient(98deg, #00a6e6, #008ec4); 
    padding-left: 20px;
}
/* ********************* pete ********************* */