<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Krungthai Bank - Line Register</title>
	<!-- <link rel="stylesheet" th:href="@{/css/project.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sweetalert2.js}"></script>
<link rel="stylesheet" th:href="@{/css/sweetalert2.css}"> -->
<link rel="stylesheet" href="../v3/css/bootstrap.min.css">
<link rel="stylesheet" href="../v3/css/project.css">
<link rel="stylesheet" href="../v3/css/sweetalert2.css">
<script type="text/javascript" src="../v3/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../v3/"></script>
<script type="text/javascript" src="../v3/js/sweetalert2.js"></script>
<!-- <link rel="stylesheet" href="project.css" type="text/css"> -->

</head>

<body>

	<!-- Header -->
	<div id="header" class="container p-0">
		<div id="checkBalMessage" class="header">
			<div class='form-check form-check-inline'>
				<img class='form-check-input img-middle' id='imgIcon' th:src="@{/images/ic-account.svg}" height='40'>
				<label class='form-check-label' for='imgIcon'>
					<span id="title"></span>
				</label>
			</div>
		</div>
	</div>
	
	<!-- put code -->
	<div id="subtitle" class="container">เพื่อรับบริการแจ้งเตือนผ่าน Krungthai Connect
		เฉพาะบัญชีออมทรัพย์และบัญชีกระแสรายวันเท่านั้น
	</div>
	<div class="container d-flex flex-row">
		<div id="amountAccountTxt" class="textSelectAll">5 บัญชี
		</div>
			<div class="toggleSW">
				<label class="switch CBoxselectAll">
					<input class="checkmark SWtoogle" type="checkbox" id="checkbox" onclick="selectAll(this)">
					<span class="slider round"></span>
				</label>
			</div>
	</div>
	<div id="contents" class="container">
		<div id="listAccounts"></div>
	</div>
	<!-- end put code -->

	<!-- footer -->
	<div id="footer" class="footer container">

		<!-- <div id="seemore" class="text-krungthai" onclick="seemoreAccounts()"></div> -->
		<button type="button" id="acceptButtonEng" onclick="sendSaveChooseAccount()" class="btn btn-block btn-primary btn-lg">
			<span id="acceptButton">ยืนยัน</span>
		</button>

	</div>

</body>
<!-- <script src="scriptTypeThymeleaf.js"></script> -->
<!-- <script th:inline="javascript">
	/*<![CDATA[*/
	var accountList= /*[[${ACCOUNT_LIST}]]*/
	// alert(accountLIST);
	/*]]>*/
</script> -->
<!-- <script type="text/javascript" th:src="@{/js/project.js}"></script>
	<script type="text/javascript" th:src="@{/js/chooseAccountNoti.js}"></script> -->
<!-- <script src="chooseAccountNoti.js"></script> -->
<script type="text/javascript" src="../v3/js/chooseAccountNoti.js"></script>
</html>

<!-- id="selectAllTxt" -->
<!-- <img src="ic-account.svg" class="ic_account"> -->
<!-- <div class="text-left" id="amountAccountTxt">บัญชี</div> -->
<!-- <div class="text-right">
	<label class="switch CBoxselectAll" id="selectAllTxt">
		<input class="checkmark" type="checkbox" id="checkbox" onclick="selectAll(this)">
		<span class="slider round"></span>
	</label>
</div> -->