
/* ******************** nook ************************/

@font-face {
	font-family: krungthaiFast;
	src: url(../font/KrungthaiFast-Regular.ttf);
}

body {
	background-image: url("../images/bg-white@3x.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: krungthaiFast !important;
	font-size: 16px;
	width: 100%;
	height: 100%;
	position: fixed;
	background-attachment: fixed;
}

.btn{
	width: 100px;
}

.btn-default {
	color: #00a6e6 !important;
	background-color: #fff !important;
	border-color: #00a6e6 !important;
}

.btn-primary {
	color: #fff !important;
	background-image: linear-gradient(-90deg, #008ec4, #00a6e6) !important;
	border-color: #00a6e6 !important;
}

.btn-primary-cancel {
	color: #00a6e6 !important;
	background-color: #fff !important;
	border-color: #00a6e6 !important;
	margin-left: 5px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	opacity: .4 !important;
	background-image: linear-gradient(-90deg, #008ec4, #00a6e6) !important;
}

.header {
	font-family: KrungthaiFast;
	font-size: 20px;
	color: #000000;
}

.text-center {
	text-align: center;
}

.text-left {
	float: left;
}

.text-right {
	float: right;
}

.body-header {
	position: fixed;
	left: 0;
	bottom: 100;
	width: 100%;
	text-align: center;
}

.body-content {
	position: fixed;
	left: 0;
	bottom: 100;
	top: 100;
	width: 100%;
	overflow: scroll;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.swal2-popup .swal2-styled.swal2-confirm {
	background-image: linear-gradient(-90deg, #008ec4, #00a6e6) !important;
	color: #fff !important;
}

.swal2-popup .swal2-styled.swal2-cancel {
	background-color: #fff !important;
	border: 1px solid !important;
	color: #00a6e6 !important;
}

.swal2-popup .swal2-content {
	font-size: 1.6em !important;
}

.swal2-popup .swal2-title {
	font-size: 2em !important;
}

.text-krungthai {
	color: #008ec4;
}

.none {
	display: none;
}

.btn:focus {
  outline: none !important;
}

.swal2-icon.swal2-warning {
    border-color: #0093cb !important;
    color: #008fc6 !important;
}

label {
    font-weight: 100 !important;
}
/* ******************** nook ************************/

/* ********************* Few ********************** */
#header, #footer, #contents, #contents2, #contentsOtp {
	position: absolute;
	right: 0;
	left: 0;
}

#header {
	height: 100px;
	top: 0;
	padding-top: 10px;
}

#headerOtp {
	height: 70px;
	top: 0;
	text-align: center;
	padding-top: 30px;
}

#footer {
	height: 84px;
	bottom: 2px;
	margin-bottom: 2%;
	background-color: #fcfcfc;
}

#contents2 {
	position: fixed;
	top: 135px;
	bottom: 120px;
	overflow-y: scroll;
	background-color: #f5f5f5;
	-webkit-overflow-scrolling: touch;
}

#contentsOtp {
	position: fixed;
	top: 80px;
	bottom: 120px;
	overflow-y: scroll;
}

#contents {
	position: fixed;
	top: 110px;
	bottom: 120px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#message3 {
	color: #868686;
}

label.label2 {
	width: 100%;
	color: #000;
	font-weight: 100;
}

div.item {
	margin-top: 1px;
	margin-bottom: 0px;
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 8px;
	background-color: #fff;
}

div.item.isSelected {
	border-color: #00a6e6;
}

/* .isSelected { */
/* 	border-color: #00a6e6ff; */
/* } */

.cbox {
	margin-top: -70%;
}
/* ********************* Few ********************** */

/* ********************* pete ********************* */
/* checkbox The containerCBox*/
label.containerCBox {
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 60px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
label.containerCBox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border-width: 1px 1px 1px 1px;
	border-color: #868686;
	border-style: solid;
	border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.containerCBox:hover input ~ .checkmark {
	border-width: 1px 1px 1px 1px;
	border-color: #868686;
	border-style: solid;
	border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.containerCBox input:checked ~ .checkmark {
	background-color: #00a6e6;
	border-width: 1px 1px 1px 1px;
	border-color: #00a6e6;
	border-style: solid;
	border-radius: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.containerCBox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.containerCBox .checkmark:after {
	left: 7px;
	top: 0.5px;
	width: 5px;
	height: 13px;
	border: solid white;
	border-width: 0 1.5px 1.5px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.flex-container {
	margin: 0;
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	line-height: 1.5;
}

html.fullscreen, body.fullscreen {
	margin: 0;
	height: 100%;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
}

header.attop, footer.atbottom {
	flex: none;
	text-align: center;
	padding: 15px 15px;
}

main.bodyscroll {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch !important;
	flex: auto;
	padding: 15px 15px;
}

.inputbox {
	width: 100%;
	height: 55px !important;
	padding: 11px 8px !important;
	border: 1px solid #bbbbbb !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	font-family: krungthaiFast !important;
	font-size: 16px !important;
	color: black !important;
}

/* ********************* pete ********************* */