@charset "UTF-8";
*{
    margin : 0 auto;
    padding : 0;
}
 @font-face{
    font-family:krungthaiFast;
    src: url(Font/KrungthaiFast-Regular.ttf);
 }
body{ 
    background-image: url("images/bg-white@3x.jpg");
    background-repeat: no-repeat;
    font-family: krungthaiFast; 
    font-size: 18px;
    width: 360px;
}
h1 { 
    font-weight: bold;
    font-size: 20px;
    text-align: center; 
    padding: 16px;
}
 .btn-group{ 
    border: #00a6e6 1px solid;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    
}
.btn {text-align: center; font-size: 16px;}
.btn-default{ background: #00a6e6; width: 50%; text-align: center; }
.btn-group-justified{ }

 
input { 
    height: 40px; 
    line-height: 40px; 
    width: 95%; 
    margin: 8px auto; 
    border-radius: 4px; 
    border: #bbbbbb 1px solid; 
    padding: 8px ;
    font-size: 16px;
}
button  {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    background-image: linear-gradient(106deg, #00a6e6, #008ec4);
    font-family:krungthaiFast;
    margin: 8px 0;
  }
