@font-face {
	font-family: krungthaiFast;
	src: url(../font/KrungthaiFast-Regular.ttf);
}

body {
	background-image: url("../images/bg-white@3x.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: krungthaiFast !important;
	font-size: 16px;
	width: 100%;
	height: 100%;
}

.btn-default {
	color: #00a6e6 !important;
	background-color: #fff !important;
	border-color: #00a6e6 !important;
}

.btn-primary {
	color: #fff !important;
	background-color: #00a6e6 !important;
	border-color: #00a6e6 !important;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	opacity: .4 !important;
	background-color: #00a6e6 !important;
}

.header {
	font-family: KrungthaiFast;
	font-size: 20px;
	color: #000000;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	text-align: center;
	background-color: rgba(1, 1, 1, 0);
}

.swal2-popup .swal2-styled.swal2-confirm {
	background-color: #00a6e6 !important;
	color: #fff !important;
}

.swal2-popup .swal2-content {
	font-size: 1.6em !important;
}

.swal2-popup .swal2-title {
	font-size: 2em !important;
}

.text-krungthai {
	color: #00a6e6;
}



label {
	display: block;
	/*   padding: 20px 20px; */
/* 	margin-top: 1%; */
	background-color: white;
/* 	border: 1px solid rgba(7, 139, 226, 0.685); */
/* 	border-radius: 7px; */
/* 	margin-left: 20px; */
/* 	margin-right: 20px; */
/* 	margin-bottom: 12px; */
	/* font: 18px Arial, sans-serif; */
/* 	padding-left: 60px; */
}

/* input[type="checkbox"]:checked{ */
/*   border-color:rgba(33, 163, 250, 0.678); */
/* } */

.item {
	background-color: white;
	padding: 20px 20px;
	margin-left:10px;
	margin-right:10px;
	border: 1px solid rgba(7, 139, 226, 0.685);
	border-radius:5px;
	margin-bottom:10px;
}

.items {
	overflow-y: auto;
	overflow-x: hidden;
	height: 500%;
}

.content {
	margin-top: 10px;
	padding-top: 2px;
}
